* {
    
    padding: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: Rajdhani-light;
    src: url(../assets/Rajdhani-Light.ttf);
  }

@font-face {
    font-family: Rajdhani-regular;
    src: url(../assets/Rajdhani-Regular.ttf);

  }

  @font-face {
    font-family: Rajdhani-medium;
    src: url(../assets/Rajdhani-Medium.ttf);
  }

  @font-face {
    font-family: Rajdhani-semibold;
    src: url(../assets/Rajdhani-SemiBold.ttf);
  }


@font-face {
    font-family: Rajdhani-bold;
    src: url(../assets/Rajdhani-Bold.ttf);
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #16032A;
}

.topnav {
  background-color: #251942;
    height: 70px;
}

.logo {
    
    margin: 10px 0 92px 31px;
    opacity: 1;
    
}

.side1 {
    background-color: #251942;
    color: #FFFFFF;
    height: 60px;
    font-family: Rajdhani-regular;
    text-transform: uppercase;
    width: 300px;
}

.side1-content{
    margin: 0 0 0 45px;
    padding: 0;
}

.side1-content p{
    margin: 3px;
}

#p{
    color:#BA32FF;
    font-family: Rajdhani-semibold;
    font-size: 14px;
    
}

.AngleLeft{    
    width: 14px;
    height: 17px;
    float: left;
    margin: 10px 0 0  18px;
}

.side2{
    background-color: #251942;
    height:633px;
    width: 300px;
    
}

.side2-content{
    
    margin: 0 0 0 45px;

}

.side2-content p{
    margin: 3px;
    font-family: Rajdhani-medium;
    font-weight: medium ;

}

#p0{
    padding: 32px 0 0 0 ;  
    font:Radjdhani-Bold;
    color: #FFFFFF;
}

#p2,#p3,#p4{
    color: #7C758D;
    
}

.c2{
    margin-top: 45px;
}

#p5{
    font-family: Rajdhani-bold;
    font-size: 16px;
    color:#FFFFFF;
}

#p6,#p7{
    font-family: Rajdhani-medium;
    font-size: 14px;
    color:#7C758D;
}

#left-arrow {
    display: block;
    box-sizing: border-box;
    border-top: 20px solid transparent;
    border-bottom:20px solid transparent ;
    border-right: 16px solid#16032A;
    float:right;
    
  }

.body-head{
    display: flex;
    font-family: Rajdhani-bold;
    font-size: 16px;
    color:#FFFFFF;
    text-align: left;
}

.body-head p{
    padding-left:40px;
}

.help{
    font-family: Rajdhani-semibold;
    position: absolute;
    right: 80px;
    font-size: 15px;
    color:#BA32FF;
    padding-top:3px ;
}

.content-container{
    display: flex;
}

.basic{
    border-bottom:4px solid #BA32FF;
}

.body-content{
    margin: 15px 0 0 40px;
    width:1095px;
    height:123px;
    background-color: #21123A;
    display: flex;
}

.body-content p{
    font-family: Rajdhani-semibold;
    font-size: 25px;
    color:#FFFFFF;
    margin: 49px 0 0 15px;

}
.images{
    position: absolute;
    right: 99px;
    margin: 39px 0 0 0;

}

.images img{
    height:55px;
    width: 55px;
    padding-right: 15px;
}



.badge{
    height:78px;
    width:78px;
    margin: 26px 0 19px 27px;
}

.body-content_1{
    margin: 15px 0 0 40px;
    width:1095px;
    height:842px;
    background-color: #21123A;
    display: block;
}

.body-content_1 p{
    font-family: Rajdhani-bold;
    font-size: 16px;
    color:#FFFFFF;
    margin: 17px 0 0 19px;
}

.body_p{
    padding: 20px 0 0 0;
}
.grids{
    display: block;
    margin-top: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-columns: 172px;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    padding: 10px;
    width:688px;
    margin-bottom: 20px; 
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-family: Rajdhani-semibold;
    font-size: 17px;
    border-radius: 5px; 
    border: 2px solid #5637A2;
    color:#5637A2;
  }

  .grid-container1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-columns: 172px;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    padding: 10px;
    width:688px;
    margin-bottom: 20px; 
}

.grid-container1 > div {
    text-align:center;
    padding: 20px 0;
    font-family: Rajdhani-semibold;
    font-size: 17px;
    border-radius: 5px; 
    border: 2px solid #5637A2;
    color:#5637A2;
  }

  .grid-container2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-columns: 172px;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    padding: 10px;
    width:688px;
    margin-bottom: 20px; 
}

.grid-container2 > div {
    text-align: center;
    padding: 20px 0;
    font-family: Rajdhani-semibold;
    font-size: 17px;
    border-radius: 5px; 
    border: 2px solid #5637A2;
    color:#FFFFFF;
  }

  .grid-container3{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-columns: 500px;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    padding: 10px;
    width:1000px;
    margin: 20px 0 0 60px;
  }

  .grid-container3 > div{
    text-align: left;
    padding: 15px 0 0 15px;
    font-family: Rajdhani-semibold;
    font-size: 17px;
    border-radius: 5px; 
    border: 2px solid #5637A2;
    color:#5637A2;
    display: flex;
    
  }

  .grid-container3 > div >img{
    padding: 0 0 10px 300px;
  }

  .grid-container4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 40px;
    grid-auto-rows: 80px;
    grid-gap: 5px;
    padding: 10px;
    width:555px;
    margin: 20px 0 0 60px;
  }

  .grid-container4 >div{
    text-align: center;
    padding: 8px 0 0 0;
    font-family: Rajdhani-semibold;
    font-size: 17px;
    border: 2px solid #5637A2;
    color:#FFFFFF;
    display: block;
  }

  .grid-container4 > div > div >img{
      padding-top: 10px;
  }

  .grid-container5{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #21123A;
    grid-auto-columns: 500px;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    padding: 10px;
    width:1000px;
    margin: 20px 0 0 60px;
  }

  .grid-container5 > div{
    text-align: left;
    padding: 15px 0 0 15px;
    background-color: #21123A;
    font-family: Rajdhani-semibold;
    font-size: 18px;
    border-radius: 5px; 
    border: 2px solid #5637A2;
    color: #FFFFFF;
    display: flex;
  }

  .grid-container5 >div > img{
      padding: 0 10px 10px 0;
  }

  .grid-container6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 40px;
    grid-auto-rows: 80px;
    grid-gap: 5px;
    padding: 10px;
    width:100px;
    margin: 20px 0 0 60px;
  }

  .grid-container6 > div{
    text-align: center;
    padding: 8px 0 0 0;
    font-family: Rajdhani-semibold;
    font-size: 17px;
    border: 2px solid #5637A2;
    color:#FFFFFF;
    display: block;
  }

  .grid-container7{
    display: grid;
    grid-template-columns: 10% 10%;
    grid-auto-columns: 128px;
    grid-auto-rows: 50px;
    grid-gap: 5px;
    padding: 10px;
    width: 1115px;
    margin: 20px 0 0 30px;
    justify-content: space-between;
  }

  .grid-container7 > div{
    text-align: center;
    padding: 10px 0 0 0;
    font-family: Rajdhani-bold;
    background-color: #BA32FF;
    font-size: 17px;
    border: 2px solid #5637A2;
    border-radius: 5px;
    color:#FFFFFF;
    display: block;
  }


  .mvp:active{
      background-color: #BA32FF;
      color:#FFFFFF;
  }

.box-end{
      grid-column-start: span 2;         

  }

.box-end > div > img{
     height: 26px;
    width: 26px;
    float: left;
    margin: 0 10px 0 10px;
  }


  .grids img{
      height:55px;
      width: 55px;
  }

  .panel{
      display: flex;
      margin: 0 0 0 9px;
      justify-content: space-evenly;
      
  }

  .content1{
      display: flex;
      margin: 45px 49px 0 0;
      
      
  }

  .content2{
    margin: 15px 0 0 40px;
    width:1095px;
    height:700px;
    background-color: #21123A;
    display: block;
  }

  .content2 p{
    font-family: Rajdhani-semibold;
    font-size: 18px;
    color:#FFFFFF;
    margin: 17px 0 0 19px;
    padding: 20px 0 0 0;

  }

 